@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
  }

  body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    @apply bg-gray-2 text-dark-5;
  }

  #root {
    min-height: 100vh;
  }
}

@layer utilities {
  .custom-scrollbar {
    @apply overflow-auto;
  }
  .custom-scrollbar::-webkit-scrollbar {
    @apply w-1.5 h-1.5;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply rounded-full bg-gray-3;
  }
}
